fastapi
uvicorn
pydantic
pydantic-settings
email-validator
sqlalchemy
psycopg2-binary
alembic
python-dotenv
chromadb
pypdf
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
groq
